{% extends 'layout.html' %}
{% block content %}

<div>
    <h4>{{table_name}}</h4>
</div>
<div>
    <table class="table">
        <tr>
            {% for header in headings %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        <tr>
        {% for track in tracks %}
            {% if category == "artist" %}
               <td><a href="/browse/{{track.track_id}}">{{track.track_id}}</td></a>
               <td>{{track.title}}</td>
               <td>{{track.artist.full_name}}</td>
               <td>{{track.album.title}}</td>
            {% elif category == 'album' %}
                <td><a href="/browse/{{track.track_id}}">{{track.track_id}}</td></a>
                <td>{{track.title}}</td>
                <td>{{track.artist.full_name}}</td>
                <td>{{track.album.title}}</td>
            {% elif category == 'genre' %}
                <td><a href="/browse/{{track.track_id}}">{{track.track_id}}</td></a>
                <td>{{track.title}}</td>
                <td>{{track.artist.full_name}}</td>
                <td>{{track.album.title}}</td>
                <td>
                    {% for genre in track.track_genres %}
                        {{genre.genre_id}}
                    {% endfor %}
                </td>
            {% elif category == 'date' %}
                <td><a href="/browse/{{track.track_id}}">{{track.track_id}}</td></a>
                <td>{{track.title}}</td>
                <td>{{track.artist.full_name}}</td>
                <td>{{track.track_duration}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}