{% extends 'layout.html' %}

{% block content %}
    <div class="table-responsive">
    <table class="table", id="browse_table">
        <thead>
            <tr>
            {% for header in headings %}
            <th scope="col">{{header}}</th>
            {% endfor %}
        </tr>
        <tbody>
            {% for track in tracks %}
                <tr>
                <td><a href="/browse/{{track.track_id}}">{{track.track_id}}</a></td>
                <td>{{track.title}}</td>
                <td>{{track.artist.full_name}}</td>
                <td>{{track.track_duration}}</td>
                </tr>
            {% endfor %} 
        </tbody>
        </thead>
        <tr class="table__row">
        {% for track in tracks %}
            <td class="table__cell"><a href="/browse/{{track.track_id}}">{{track.track_id}}</a></td>
            <td class="table__cell">{{track.title}}</td>
            <td class="table__cell">{{track.artist.full_name}}</td>
            <td class="table__cell">{{track.track_duration}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}