<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Track</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
</head>

<nav>
    <form method = "post">
        <input type="text" name="nm"/>
        <input type="submit" value="Search"/>
    </form>
    <div style="float:left">
        {% if first_track_url is not none %}
            <button onclick="location.href='{{first_track_url}}'">First</button>
        {% else %}
            <button disabled>First</button>
        {% endif %}
        {% if prev_track_url is not none %}
            <button onclick="location.href='{{prev_track_url}}'">Previous</button>
        {% else %}
            <button disabled>Previous</button>
        {% endif %}
    </div>
    <div style="float:right">
        {% if next_track_url is not none %}
            <button onclick="location.href='{{next_track_url}}'">Next</button>
        {% else %}
            <button disabled>Next</button>
        {% endif %}
        {% if last_track_url is not none %}
            <button onclick="location.href='{{last_track_url}}'">Last</button>
        {% else %}
            <button disabled>Last</button>
        {% endif %}
    </div>


</nav>

<body>
<div>
    <h4>{{table_name}}</h4>
</div>
<div>
    <table class="center">
        <tr class="table__header">
            {% for header in headings %}
            <th class="table__cell">{{header}}</th>
            {% endfor %}
        </tr>
        <tr class="table__row">
        {% for track in tracks %}
            {% if category == "artist" %}
               <td class="table__cell">{{track.artist.artist_id}}</td>
               <td class="table__cell">{{track.artist.full_name}}</td>
            {% elif category == 'album' %}
                <td class="table__cell">{{track.album.album_id}}</td>
                <td class="table__cell">{{track.album.title}}</td>
            {% elif category == 'genre' %}
                <td class="table__cell">{{track.genre.genre_id}}</td>
                <td class="table__cell">{{track.genre.name}}</td>
            {% elif category == 'date' %}
                <td class="table__cell">{{track.track_id}}</td>
                <td class="table__cell">{{track.track_title}}</td>
                <td class="table__cell">{{track.artist.full_name}}</td>
                <td class="table__cell">{{track.track_duration}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

</body>



<nav>
    <div style="float:left">
        {% if first_track_url is not none %}
            <button onclick="location.href='{{first_track_url}}'">First</button>
        {% else %}
            <button disabled>First</button>
        {% endif %}
        {% if prev_track_url is not none %}
            <button onclick="location.href='{{prev_track_url}}'">Previous</button>
        {% else %}
            <button disabled>Previous</button>
        {% endif %}
    </div>
    <div style="float:right">
        {% if next_track_url is not none %}
            <button onclick="location.href='{{next_track_url}}'">Next</button>
        {% else %}
            <button disabled>Next</button>
        {% endif %}
        {% if last_track_url is not none %}
            <button onclick="location.href='{{last_track_url}}'">Last</button>
        {% else %}
            <button disabled>Last</button>
        {% endif %}
    </div>

</nav>

</html>