<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Artists</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
</head>
<body>
<div>
  <form method = "post">
        <input type="text" name="nm"/>
        <input type="submit" value="Search"/>
    </form>
</div>
<div>
  <table class="center">
        <tr class="table__header">
            {% for header in headings %}
            <th class="table__cell">{{header}}</th>
            {% endfor %}
        </tr>
        <tr class="table__row">
        {% for artist in artists %}
            <td class="table__cell">{{artist.artist_id}}</td>
            <td class="table__cell"><a href="{{url_for('search_bp.get_tracks_by_artist_id', target_artist=artist.artist_id)}}">{{artist.full_name}}</a></td>

        </tr>
        {% endfor %}
    </table>
</div>


</body>
</html>