<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Music App</title>
        <link rel="icon" href="{{ url_for('static', filename='logo.jpg') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='browse.js')}}" defer></script>
    </head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home_bp.home') }}">
            <img src="{{ url_for('static', filename='title_picture.png') }}" class="nav-logo">
          </a>
      
          {% if 'user_name' in session %}
            <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
            <a class="btn-nav" href="{{ url_for('search_bp.search') }}">Search</a>
            <a class="btn-nav" href="{{ url_for('tracks_bp.get_tracks_table_view') }}">Browse</a>
            <a class="btn-nav" href="/user/{{session['user_name']}}">{{session['user_name']}}</a>
            <a class="btn-nav" href="{{ url_for('auth_bp.logout') }}">Logout</a>
          {% else %}
            <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
            <a class="btn-nav" href="{{ url_for('search_bp.search') }}">Search</a>
            <a class="btn-nav" href="{{ url_for('tracks_bp.get_tracks_table_view') }}">Browse</a>
            <a class="btn-nav" href="{{ url_for('auth_bp.register') }}">Register</a>
            <a class="btn-nav" href="{{ url_for('auth_bp.login') }}">Login</a>
          {% endif %}
          </div>
        </nav>
    <div class="search-container">
    <div class="browse-area">
        <button class="btn btn-primary" id="browse-previous" data-previous-button>Previous</button>
        <p page-number-total></p>
        <button class="btn btn-primary" id= "browse-next" data-next-button>Next</button>
    </div>
    <div class="track-cards" data-track-cards-container>
        <template data-track-template>
            <div class="test card" >
                <div class="title" data-title></div>
                <img class="track-image" src="{{ url_for('static', filename='trackimage.png') }}">
                <div class="album" data-album></div>
                <div class="artist-title">Artist</div>
                <div class="artist" data-artist></div>
                <div class="track-url" data-track-url></div>
                <div class="track-duration-title">Duration</div>
                <div class="track_duration" data-track-duration></div>
                <div class="genres" data-genres></div>
            </div>
        </template>
    </div>
    </div>
</body>
</html>
