{% extends 'layout.html' %}

{% block content %}
    <div class="table-responsive">
        <nav>
            <div class="page-nav-left">
        {% if first_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{first_page_url}}'">First</button>
        {% else %}
            <button class="btn btn-dark" disabled>First</button>
        {% endif %}
        {% if prev_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{prev_page_url}}'">Previous</button>
        {% else %}
            <button class="btn btn-dark" disabled>Previous</button>
        {% endif %}
    </div>
    <div class="page-nav-right">
        {% if next_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{next_page_url}}'">Next</button>
        {% else %}
            <button class="btn btn-dark" disabled>Next</button>
        {% endif %}
        {% if last_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{last_page_url}}'">Last</button>
        {% else %}
            <button class="btn btn-dark" disabled>Last</button>
        {% endif %}
    </div>
        </nav>



    <table class="table", id="browse_table">
        <thead>
            <tr>
            {% for header in headings %}
            <th scope="col">{{header}}</th>
            {% endfor %}
        </tr>
        <tbody>
            {% for track in tracks %}
                <tr>
                <td><a href="/browse/{{track.track_id}}">{{track.track_id}}</a></td>
                <td>{{track.title}}</td>
                <td><a class="link_for_search" href={{url_for('search_bp.search_by_artist', target_artist=track.artist.full_name)}}>{{track.artist.full_name}}</a></td>
                    {% if (track.track_duration - ((track.track_duration / 60)|round(0,'floor'))*60 )|int < 10 %}
                        <td class="table__cell__individual">{{(track.track_duration / 60)|round(0, 'floor')|int}}:0{{ (track.track_duration - ((track.track_duration / 60)|round(0,'floor'))*60 )|int }}</td>
                    {% else %}
                        <td class="table__cell__individual">{{(track.track_duration / 60)|round(0, 'floor')|int}}:{{ (track.track_duration - ((track.track_duration / 60)|round(0,'floor'))*60 )|int }}</td>
                    {% endif %}
                </tr>
            {% endfor %} 
        </tbody>
        </thead>

    </table>
</div>
{% endblock %}