{% extends 'layout.html' %}

{% block content %}
    <h2>{{track.title}}</h2>
    <table class="table">
        <tr class="table__row">
            <tr>
                <td class="table__cell__individual">ID</td>
                <td class="table__cell__individual">{{track.track_id}}</td>
            </tr>
            <tr>
                <td class="table__cell__individual">Track Title</td>
                <td class="table__cell__individual">{{track.title}}</td>
            </tr>
            <tr>
                <td class="table__cell__individual">Artist</td>
                <td class="table__cell__individual">{{track.artist.full_name}}</td>
            </tr>
            <tr>
                <td class="table__cell__individual">Album</td>
                <td class="table__cell__individual">{{track.album.title}}</td>
            </tr>
            <tr>
                <td class="table__cell__individual">Genres</td>
                <td class="table__cell__individual">
                    {% for genre in track.track_genres %}
                        {{genre.name}}<br>
                    {% endfor %}
                </td>

            </tr>
            <tr>
                <td class="table__cell__individual">Duration</td>
                <td class="table__cell__individual">{{track.track_duration}}</td>
            </tr>
            <tr>
                <td class="table__cell__individual">Release Year</td>
                <td class="table__cell__individual">{{track.album.release_year}}</td>
            </tr>
            <tr>
                <td class="table__cell__individual">Url</td>
                <td class="table__cell__individual"><a href="{{track.track_url}}">{{track.title}}</a></td>
            </tr>
        </tr>
    </table>

    {% if logged_in == True %}
    {% if track_already_liked == True %}
        <div class="liked">
            <form action="" method="post">
                <input type="submit" name="unliked" value="Unlike" class="btn btn-danger"/>
            </form> 
        </div>
    {% else %}
        <div class="liked">
            <form action="" method="post">
                <input type="submit" name="liked" value="Like" class="btn btn-danger"/>
            </form> 
        </div>
    {% endif %}
    {% endif %}

    <div class="reviews">
        <h2>Reviews</h2>
            {% for review in reviews %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <a href="/user/{{review.user}}">{{review.user}}</a>
                        </div>  
                        <div class="card-body">
                        <p class="card-text">{{review.review_text}}</p>
                        <p class="card-text">Rating: {{review.rating}}/5</p>
                        <p class="card-text"><small class="text-muted">{{review.timestamp}}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    
    {% if logged_in == True %}
        <div class="form-wrapper">
            
            <form action="{{handler_url}}" method="post" novalidate>
                {{form.csrf_token}}
                <br>
                <div class="form-field">
                    {{form.review(size = 100, placeholder="your review", class="form-control", cols="50", rows="6", wrap="hard")}}<br>
                    <div class="row g-3">
                        <div class="col">
                        {{form.rating.label}} {{form.rating(size = 1, placeholder="your rating 1-5", class="rating", cols="1", rows="1")}}
                        </div>
                        {% if form.review.errors or form.rating.errors %}
                        <ul class="errors">
                            {% for error in form.review.errors %}
                            <li>{{error}}</li>
                            {% endfor %}
                            {% for error in form.rating.errors %}
                            <li>{{error}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    <div class="col">
                        {{form.submit(class="review-submit")}}
                </div>
                </div>
                </div>
            </form>
        </div>
    {% endif %}

{% endblock %}