{% extends 'layout.html' %}

{% block content %}
    <h2>{{track.title}}</h2>
    <div class="track-table-container">
        <table class="table track-details-table beat-visualizer">
        <tr class="table__row">
            <tr>
                <td class="table__cell__individual">ID</td>
                <td class="table__cell__individual">{{track.track_id}}</td>
            </tr>
            <tr>
                <td class="table__cell__individual">Track Title</td>
                <td class="table__cell__individual">{{track.title}}</td>
            </tr>
            <tr>
                <td class="table__cell__individual">Artist</td>
                <td class="table__cell__individual">{{track.artist.full_name}}</td>
            </tr>
            <tr>
                <td class="table__cell__individual">Album</td>
                <td class="table__cell__individual">{{track.album.title}}</td>
            </tr>
            <tr>
                <td class="table__cell__individual">Genres</td>
                <td class="table__cell__individual">
                    {% for genre in track.track_genres %}
                        {{genre.name}}<br>
                    {% endfor %}
                </td>

            </tr>
            <tr>
                <td class="table__cell__individual">Duration</td>
                {% if (track.track_duration - ((track.track_duration / 60)|round(0,'floor'))*60 )|int < 10 %}
                    <td class="table__cell__individual">{{(track.track_duration / 60)|round(0, 'floor')|int}}:0{{ (track.track_duration - ((track.track_duration / 60)|round(0,'floor'))*60 )|int }}</td>
                {% else %}
                    <td class="table__cell__individual">{{(track.track_duration / 60)|round(0, 'floor')|int}}:{{ (track.track_duration - ((track.track_duration / 60)|round(0,'floor'))*60 )|int }}</td>
                {% endif %}
            </tr>
            <tr>
                <td class="table__cell__individual">Release Year</td>
                <td class="table__cell__individual">{{track.album.release_year}}</td>
            </tr>
            <tr>
                <td class="table__cell__individual">Url</td>
                <td class="table__cell__individual"><a href="{{track.track_url}}">{{track.title}}</a></td>
            </tr>
        </tr>
        </table>
    </div>

    {% if logged_in == True %}
    {% if track_already_liked == True %}
        <div class="liked">
            <form action="" method="post">
                <input type="submit" name="unliked" value="Unlike" class="btn btn-danger"/>
            </form> 
        </div>
    {% else %}
        <div class="liked">
            <form action="" method="post">
                <input type="submit" name="liked" value="Like" class="btn btn-danger"/>
            </form> 
        </div>
    {% endif %}
    {% endif %}

    <div class="reviews">
        <h2>Reviews</h2>

        {% if logged_in == True %}
            <div class="form-wrapper">
                <form action="{{handler_url}}" method="post" novalidate>
                    {{form.csrf_token}}
                    <br>
                    <div class="form-field">
                        {{form.review(size = 100, placeholder="your review", class="form-control", cols="50", rows="6", wrap="hard")}}<br>
                        <div class="review-actions">
                            <div class="col">
                            {{form.rating.label}} {{form.rating(size = 1, placeholder="your rating 1-5", class="rating", cols="1", rows="1")}}
                            </div>
                            {% if form.review.errors or form.rating.errors %}
                            <ul class="errors">
                                {% for error in form.review.errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                                {% for error in form.rating.errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        <div class="col">
                            {{form.submit(class="review-submit")}}
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}

        <div class="comments-list">
            {% for review in reviews %}
                <div class="comment-item">
                    <div class="card">
                        <div class="card-header">
                            <a href="/user/{{review.user}}">{{ review.user[0:1].upper() }}{{review.user[1:]}}</a>
                        </div>
                        <div class="card-body">
                        <p class="card-text">{{review.review_text}}</p>
                        <p class="card-text">Rating: {{review.rating}}/5</p>
                        <p class="card-text"><small class="text-muted">{{review.timestamp}}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}