<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Music App</title>
        <link rel="icon" href="{{ url_for('static', filename='logo.jpg') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='user.js')}}" defer></script>
    </head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home_bp.home') }}">
            <img src="{{ url_for('static', filename='title_picture.png') }}" class="nav-logo">
          </a>
      
          {% if 'user_name' in session %}
            <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
            <a class="btn-nav" href="{{ url_for('search_bp.search') }}">Search</a>
            <a class="btn-nav" href="{{ url_for('tracks_bp.get_tracks_table_view') }}">Browse</a>
            <a class="btn-nav" href="/user/{{session['user_name']}}">{{session['user_name']}}</a>
            <a class="btn-nav" href="{{ url_for('auth_bp.logout') }}">Logout</a>
          {% else %}
            <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
            <a class="btn-nav" href="{{ url_for('search_bp.search') }}">Search</a>
            <a class="btn-nav" href="{{ url_for('tracks_bp.get_tracks_table_view') }}">Browse</a>
            <a class="btn-nav" href="{{ url_for('auth_bp.register') }}">Register</a>
            <a class="btn-nav" href="{{ url_for('auth_bp.login') }}">Login</a>
          {% endif %}
          </div>
        </nav>
        <div class="user-profile-area" user-profile-area>
            <h2>User Profile</h2>
            <div class="users-name" user-name-area>
            </div>
            <h2>Liked Tracks</h2>
            <div class="liked-tracks" liked-tracks-area>
            </div>
            <h2>User Comments</h2>
            <div class="comment-section" comment-section>
                <template comment-template>
                    <div class="a-comment" a-comment>
                        <div class="profile-name" profile-name>
                            <img class="profile-image" src="{{ url_for('static', filename='trackimage.png') }}">
                            <p user-name></p>
                        </div>
                        <div class="comment-content" comment-content>
                            <p></p>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <script>
            window.user_name = "{{ user_name }}";
        </script>
</body>
</html>
