{% extends 'layout.html' %}
{% block content %}

<div class="user-details">
    <h1 class="display-1">{{ user.user_name }}</h1>
</div>

<div class="liked-tracks">
    <nav class="reviews">
    <div class="page-nav-left">
        {% if lt_first_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{lt_first_page_url}}'">First</button>
        {% else %}
            <button class="btn btn-dark" disabled>First</button>
        {% endif %}
        {% if lt_prev_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{lt_prev_page_url}}'">Previous</button>
        {% else %}
            <button class="btn btn-dark" disabled>Previous</button>
        {% endif %}
    </div>

    <div class="page-nav-right">
        {% if lt_next_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{lt_next_page_url}}'">Next</button>
        {% else %}
            <button class="btn btn-dark" disabled>Next</button>
        {% endif %}
        {% if lt_last_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{lt_last_page_url}}'">Last</button>
        {% else %}
            <button class="btn btn-dark" disabled>Last</button>
        {% endif %}
    </div>
    </nav>

    <h2>Liked Tracks: {{liked_tracks_count}}</h2>
    <table class="table">
        <tr>
            <th>Track ID</th>
            <th>Track Title</th>
            <th>Artist</th>
            <th>Album</th>
        </tr>
        {% for track in liked_tracks %}
        <tr>
            <td><a href="/browse/{{ track.track_id }}">{{track.track_id}}</a></td>
            <td>{{track.title}}</td>
            <td>{{track.artist.full_name}}</td>
            <td>{{track.album.title}}</td>
        </tr>
        {% endfor %}
    </table>
</div>





<div class="reviews">
    <nav>
    <div class="page-nav-left">
        {% if review_first_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{review_first_page_url}}'">First</button>
        {% else %}
            <button class="btn btn-dark" disabled>First</button>
        {% endif %}
        {% if review_prev_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{review_prev_page_url}}'">Previous</button>
        {% else %}
            <button class="btn btn-dark" disabled>Previous</button>
        {% endif %}
    </div>

    <div class="page-nav-right">
        {% if review_next_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{review_next_page_url}}'">Next</button>
        {% else %}
            <button class="btn btn-dark" disabled>Next</button>
        {% endif %}
        {% if review_last_page_url is not none %}
            <button class="btn btn-dark" onclick="location.href='{{review_last_page_url}}'">Last</button>
        {% else %}
            <button class="btn btn-dark" disabled>Last</button>
        {% endif %}
    </div>
        </nav>




    <h2>Reviews made: {{ review_count }}</h2>
    <table>

        {% for review in reviews %}
        <tr>
            <div class="col-sm-6">
                <a class='link_for_search'href="/browse/{{review.track_id}}" class="user-link-track">Go to Track →</a>
                <div class="card">
                    <div class="card-header">
                        {{review.user}}
                    </div>  
                    <div class="card-body">
                    <p class="card-text">{{review.review_text}}</p>
                    <p class="card-text">Rating: {{review.rating}}/5</p>
                    <p class="card-text"><small class="text-muted">{{review.timestamp}}</small></p>
                    </div>
                </div>

            </div>
        <br>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}