
/* General layout styling */
.center {
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: row;
    margin: auto;
    padding: 100px;
}

/* Browse Tracks styling */
/* By hierarchy */

#browse_table {
    width: 50%;
}

.browse-area {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: sans-serif;
    font-size: 1.5rem;
}

.test {
    background-color: #000000;
    color: white;
}

.track-image {
    width: 20%;
}

.track-url, .album, .genres {
    display: none;
}

.artist-title, .track-duration-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

/* <div class="title" data-title></div>
<img class="track-image" src="{{ url_for('static', filename='trackimage.png') }}">
<div class="album" data-album></div>
<div class="artist" data-artist></div>
<div class="track-url" data-track-url></div>
<div class="track_duration" data-track-duration></div>
<div class="genres" data-genres></div> */





/* Navigation bar styling */

.nav-logo {
    width: 200px;
}

.btn-nav {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-nav:hover {
    color: rgb(201, 201, 201);
    text-decoration: none;
}


/* Credentials styling */
/* By hierarchy */

.container-cred {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}


.login-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}


.form-title {
    padding-top: 100px;
    font-family: sans-serif;
}

.form-control {
    width: 500px;
}

.form-error-msg{
    color: #990000;
    font-size: 13px;
}

.dash {
    width: 500px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.redirect-page-msg {
    width: 500px;
    text-align: center;
}


/* Individual Track Page w/ Comments */
/* Order of hierarchy */

#container {
    margin-top: 2rem;
}

.table {
    margin: auto;
    width: 50%;
    align-items: left;
}

.reviews {
    margin: auto;
    width: 50%;
}


.form-wrapper {
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

.form-control {
    width: 100%;
}

.review-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
}



h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
}

.col-sm-6 {
    margin: auto;
    width: 100%;
}

.card {
    margin-top: 10px;
    width: 100%;
}

.card-header {
    background-color: rgb(29, 29, 29);
    color: aliceblue;
}

a {
    color: rgb(179, 234, 228);
    text-decoration: none;
}

a:hover {
    color: rgb(163, 163, 163);
    text-decoration: none;
}

a.link_for_search {
    color: black;
    font-family: sans-serif;
}

a.link_for_search:hover {
    color: rgb(5, 97, 235);
    font-family: sans-serif;
    text-decoration: underline;
}

.review-submit {
    float: right;
    padding-bottom: 5px;
}

.track__header__individual {
    text-align: center;
    font-family: sans-serif;
}

.table__cell__individual {
    text-align: center;
    font-family: sans-serif;
}

.liked {
    padding-top: 20px;
    text-align: center;
}

/* Search page */
/* By hierarchy */

.search-container {
    margin: auto;
    width: 50%;
}

.search-form {
    margin: auto;
    margin-bottom: 10%;
    width: 50%;
}

#search_text_area {
    margin-bottom: 10px;
    width: 100%;
}

#search_select_area {
    margin-bottom: 10px;
}

#search_button {
    width: 100%;
}

.page-nav-right{
    padding-top: 10px;
    padding-right: 5px;
    float: right;
}

.page-nav-left {
    padding-top: 10px;
    padding-left: 5px;
    float: left;
}

.result-wrap{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.album-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 100%));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.card:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.hide {
    display: none;
    transition: all 2s;
}

.hide-keep-area {
    visibility: hidden;
}

.hidden {
    opacity: 0;
    filter: blur(1px);
    /*transform: translateY(20%);*/
    transition: all 0.3s;
}



.show {
    opacity: 1;
    filter: blur(0);
    /* transform: translateY(0); */
}

/* Users page */
/* By hierarchy */

.liked-tracks {
    padding-bottom: 100px;
}

.user-link-track {
    text-decoration: none;
    color: aliceblue;
}

.user-link-track:hover {
    text-decoration: none;
    color: rgb(151, 151, 151);
}

.display-1 {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

/* Not found page */
.error-msg{
    padding-top: 200px;
    text-align: center;
}

/* Home page */
.home-container {
    margin: auto;
    width: 50%;
    padding-top: 200px;
}

.welcome {
    margin: auto;
    text-align: center;
    font-size: 60px;

}

.home-info {
    margin: auto;
    text-align: center;
    font-size: 20px;
}

/* Search page View Category */

.view-nav-container {
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
}

.p1 {
    padding-top: 10px;
    text-align: center;
}
.header-text {
    font: bold;
    text-align: center;
}

.no-hover:hover {
    cursor: default;
    background-color: #000000;
    color: white;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
}


/* Individual track area */
.individual-track-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding-top: 100px;
}

.comment-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.a-comment {
    display: flex;
    direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    padding: 2rem;
    transition: all 0.3s ease;
}

.profile-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin-right: 1rem;
}

.comment-content {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: left;
}

.profile-image {
    height: 100%;
    width: 100%;
}

.comment-area {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#comment-box {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
    resize: none;
}

#comment-button {
    float: right;
}

